# Logger configuration (server/tooling/backend)
# Options: trace, debug, info, warn, error, fatal, silent
LOG_LEVEL=info

# Public logger configuration (client/frontend)
# Options: trace, debug, info, warn, error, fatal, silent
VITE_PUBLIC_LOG_LEVEL=info
